.content {
  display: grid;
  grid-template-columns: 4fr 8fr;
  grid-column-gap: 50px;
  justify-items: center;
  width: 100%;
  padding-top: 50px;

  .tickets {
    justify-self: start;
  }

  .filter {
    justify-self: end;
  }

  .clearFilters {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    border-radius: 15px;
    background-color: #284B63;
    color: #F4F9E9;
    &:hover {
      cursor: pointer;
      background-color: #153243;
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .content {
    display: flex;
    justify-content: center;
  }

  .filter {
    margin-right: 50px;
  }
}